body{
    background-color:rgb(122, 94, 122);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.holder{
    background-color: rgb(231, 133, 217);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px hotpink
    rgb(241, 41, 231);
    text-align: center;

}
label{
    display: block;
    margin-bottom: 5px;
    color: #555;
}
.inputbox{
    margin-bottom: 15px;
}
input[type=text]{
    width: calc(100%-22px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 122, 221);
    color: white;
    font-size: 16px;
}
.btn{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;

}
button:hover{
    background-color: powderblue
(243, 90, 184);
    color: cadetblue;
}



